.about {
  background-color: $color-light-gray;

  @include min {
    padding-top: 80px;
    padding-bottom: 110px;
  }
  @include max {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  &__title {
    margin-bottom: 23px;

    letter-spacing: -1.5px;

    line-height: 42px;
  }
  &__description {
    text-align: center;
    white-space: pre-line;

    line-height: 22px;
  }
}
