.portfolio {
  background-color: $color-light-gray;

  @include min {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  @include max {
    padding-top: 50px;
    padding-bottom: 75px;
  }
  &__title {
    margin-bottom: 50px;
  }
  &__project {
    &:not(:last-child) {
      @include min {
        margin-bottom: 95px;
      }
      @include max {
        margin-bottom: 75px;
      }
    }
    &-img {
      @include min {
        margin-bottom: 40px;
      }
      @include max {
        margin-bottom: 30px;
      }
    }
    &-link {
      position: relative;
      left: 50%;

      display: block;

      max-width: max-content;
      padding: 5px;

      transition: 0.5s border-bottom ;
      transform: translateX(-50%);
      &::after {
        position: absolute;
        bottom: 3px;
        left: 50%;

        width: 0;

        content: "";
        transition: width 0.3s ease-out;
        transform: translateX(-50%);

        border-bottom: 1px solid $color-black;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
