*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color: $color-black;

  font-family: $font-medium;
  font-size: $font-size;
}

body {
  &.active {
    overflow-y: hidden;
  }
}

a {
  text-align: center;
  text-decoration: none;

  color: $color-black;
}

p {
  margin: 0;
}

h2 {
  text-align: center;

  font-family: $font-bold;
  font-size: $font-title;
}

img {
  width: 100%;
}

.container {
  max-width: 1002px;
  margin: 0 auto;
  padding: 0 30px;
}
