*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  color: $color-black;
  font-family: $font-medium;
}

a {
  text-decoration: none;
  text-align: center;
  color: $color-black;
}

p {
  margin: 0;
}

h2 {
  text-align: center;
  font-size: $font-title;
  font-family: $font-bold;
}

img {
  width: 100%;
}

.container {
  max-width: 982px;
  margin: 0 auto;
  padding: 0 20px;
}