*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  color: $color-black;
  font-family: $font-medium;
}

a {
  text-decoration: none;
}

.container {
  max-width: 945px;
  margin: 0 auto;
  padding: 0 20px;
}