.footer {
  @include min {
    padding-top: 85px;
    padding-bottom: 60px;
  }
  @include max {
    padding-top: 55px;
    padding-bottom: 40px;
  }
  &__title {
    @include min {
      margin-bottom: 30px;
    }
    @include max {
      margin-bottom: 40px;
    }
  }
  &__question {
    text-align: center;

    @include min {
      margin-bottom: 35px;
    }
    @include max {
      margin-bottom: 45px;
    }
  }
  &__action {
    display: flex;
    align-items: center;
    justify-content: center;

    @include min {
      margin-bottom: 85px;
    }
    @include max {
      margin-bottom: 45px;
    }
    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 42px;

      transition: transform 0.5s, box-shadow 0.5s;

      color: $color-white;
      border-radius: 21px;
      background-color: $color-black;

      @include min {
        min-width: 180px;
      }
      @include max {
        width: 100%;
      }
      &:hover {
        transform: scale(1.1) translateY(-5px);

        box-shadow: 0 5px 5px rgba($color-black, 0.4);
      }
    }
  }
  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 45px;

    @include min {
      gap: 60px;
    }
    @include max {
      gap: 50px;
    }
    &-img {
      @media (min-width:380.2px) {
        width: 40px;
      }
      @media (max-width:380px) {
        width: 35px;
      }
      // @include max {
      //   width: 30px;
      // }
    }
  }
  &__copyright {
    text-align: center;

    color: $color-gray;
  }
}
