.header {
  height: 100vh;
  padding-top: 32px;
  &-navbar {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      top: 57px;
      border-bottom: 1px solid $color-gray;
    }
    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-between;
    }
    &__item {
      &:nth-of-type(1) {
        .header-navbar__link {
          color: $color-black;
        }
      }
    }
    &__link {
      position: relative;
      color: $color-gray;
      font-family: $font-bold;
      &::after {
        position: absolute;
        bottom: -5px;
        width: 0;
        content: '';
        border-bottom: 2.5px solid $color-black;
        transition: width 0.5s;
        left: 50%;
        transform: translateX(-50%);
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
  &-meet {
    margin-top: 65px;
    padding-bottom: 104px;
    &__content {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 40px;
    }
    &__name {
      margin: 0;
      font-family: $font-bold;
      font-size: 47.3392px;
      line-height: 59px;
    }
    &__info {
      margin: 10px;
      line-height: 22px;
      transform: translateX(-5px);
    }
    &__language {
      font-family: $font-bold;
      transform: rotate(-90deg) translateY(22px);
      line-height: 20px;
      margin-bottom: 35px;
      letter-spacing: -1px;
    }
    &__img {
      width: 100%;
    }
  }
}