/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
  color: #070707;
  font-family: "Gilroy-Medium";
}

body.active {
  overflow-y: hidden;
}

a {
  text-decoration: none;
  text-align: center;
  color: #070707;
}

p {
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-family: "Gilroy-Bold";
}

img {
  width: 100%;
}

.container {
  max-width: 1002px;
  margin: 0 auto;
  padding: 0 30px;
}

.header {
  position: relative;
}
.header-meet__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.header-meet__name {
  margin: 0;
  font-family: "Gilroy-Bold";
  font-size: 47.3392px;
  line-height: 59px;
}
.header-meet__info {
  margin: 10px;
  line-height: 22px;
  -webkit-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
          transform: translateX(-5px);
}

.header-navbar {
  position: relative;
}
.header-navbar__hamburger {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  width: 33px;
  height: 20px;
  cursor: pointer;
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.header-navbar__hamburger span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1;
  background-color: #070707;
}
.header-navbar__hamburger span:nth-of-type(1) {
  top: 0;
}
.header-navbar__hamburger span:nth-of-type(2) {
  top: 8px;
}
.header-navbar__hamburger span:nth-of-type(3) {
  top: 16px;
}
.header-navbar__hamburger.active {
  z-index: 5;
}
.header-navbar__hamburger.active span {
  background-color: #828282;
}
.header-navbar__hamburger.active span:nth-of-type(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}
.header-navbar__hamburger.active span:nth-of-type(2) {
  left: -40px;
  opacity: 0;
}
.header-navbar__hamburger.active span:nth-of-type(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.header-navbar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.header-navbar__list.active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
.header-navbar__item:nth-of-type(1) .header-navbar__link {
  color: #070707;
}
.header-navbar__item:nth-of-type(1) .header-navbar__link::after {
  position: absolute;
  width: 0;
  content: "";
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header-navbar__item:nth-of-type(1) .header-navbar__link:hover::after {
  width: 100%;
}
.header-navbar__link {
  position: relative;
  color: #828282;
  font-family: "Gilroy-Bold";
}
.header-navbar__link::after {
  position: absolute;
  width: 0;
  content: "";
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header-navbar__link:hover::after {
  width: 100%;
}

.about {
  background-color: #F6F6F6;
}
.about__title {
  margin-bottom: 23px;
  line-height: 42px;
  letter-spacing: -1.5px;
}
.about__description {
  line-height: 22px;
  text-align: center;
  white-space: pre-line;
}

.portfolio {
  background-color: #F6F6F6;
}
.portfolio__title {
  margin-bottom: 50px;
}
.portfolio__project-link {
  position: relative;
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 5px;
  -webkit-transition: 0.5s border-bottom;
  -o-transition: 0.5s border-bottom;
  transition: 0.5s border-bottom;
}
.portfolio__project-link::after {
  position: absolute;
  bottom: 3px;
  width: 0;
  content: "";
  border-bottom: 1px solid #070707;
  -webkit-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.portfolio__project-link:hover::after {
  width: 100%;
}
.skills__title {
  letter-spacing: -0.3px;
}
.skills__info {
  text-align: center;
}
.skills-programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__question {
  text-align: center;
}
.footer__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__action-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 42px;
  border-radius: 21px;
  background-color: #070707;
  color: #ffffff;
  -webkit-transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  -o-transition: transform 0.5s, box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
}
.footer__action-btn:hover {
  -webkit-transform: scale(1.1) translateY(-5px);
      -ms-transform: scale(1.1) translateY(-5px);
          transform: scale(1.1) translateY(-5px);
  -webkit-box-shadow: 0 5px 5px rgba(7, 7, 7, 0.4);
          box-shadow: 0 5px 5px rgba(7, 7, 7, 0.4);
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}
.footer__copyright {
  text-align: center;
  color: #828282;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
}
@media (min-width: 380.2px) {
  .footer__socials-img {
    width: 40px;
  }
}
@media (min-width: 480.2px) {
  .header {
    padding-top: 32px;
  }
  .header-meet {
    margin-top: 65px;
    padding-bottom: 100px;
  }
  .header-meet__content {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header-meet__language {
    font-family: "Gilroy-Bold";
    -webkit-transform: rotate(-90deg) translateY(22px);
        -ms-transform: rotate(-90deg) translateY(22px);
            transform: rotate(-90deg) translateY(22px);
    line-height: 20px;
    margin-bottom: 35px;
    letter-spacing: -1px;
  }
  .header__img--fullsize {
    display: none;
  }
  .header-navbar::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 57px;
    border-bottom: 1px solid #828282;
  }
  .header-navbar__hamburger {
    display: none;
  }
  .header-navbar__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-navbar__item:nth-of-type(1) .header-navbar__link::after {
    border-bottom: 2.5px solid #070707;
    bottom: -5px;
  }
  .header-navbar__link::after {
    border-bottom: 2.5px solid #828282;
    bottom: -5px;
  }
  .about {
    padding-bottom: 110px;
    padding-top: 80px;
  }
  .portfolio {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  .portfolio__project:not(:last-child) {
    margin-bottom: 95px;
  }
  .portfolio__project-img {
    margin-bottom: 40px;
  }
  .skills {
    padding-top: 55px;
    padding-bottom: 110px;
  }
  .skills__title {
    margin-bottom: 60px;
  }
  .skills__info {
    margin-bottom: 85px;
  }
  .skills-programs {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer {
    padding-top: 85px;
    padding-bottom: 60px;
  }
  .footer__title {
    margin-bottom: 30px;
  }
  .footer__question {
    margin-bottom: 35px;
  }
  .footer__action {
    margin-bottom: 85px;
  }
  .footer__action-btn {
    min-width: 180px;
  }
  .footer__socials {
    gap: 60px;
  }
}
@media (max-width: 480px) {
  .header {
    padding-top: 65px;
  }
  .header-meet {
    padding-bottom: 80px;
  }
  .header-meet__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 25px;
    -webkit-transform: translateY(-13px);
        -ms-transform: translateY(-13px);
            transform: translateY(-13px);
  }
  .header-meet__language {
    display: none;
  }
  .header__img {
    display: none;
  }
  .header-navbar::after {
    display: none;
  }
  .header-navbar__list {
    position: absolute;
    gap: 65px;
    min-height: 100vh;
    width: 101%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ffffff;
    z-index: 3;
    font-size: 2rem;
    -webkit-transform: translateX(111%);
        -ms-transform: translateX(111%);
            transform: translateX(111%);
  }
  .header-navbar__item:nth-of-type(1) .header-navbar__link::after {
    border-radius: 3px;
    border-bottom: 6px solid #070707;
    bottom: -8px;
  }
  .header-navbar__link::after {
    border-radius: 3px;
    border-bottom: 6px solid #828282;
    bottom: -8px;
  }
  .about {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .portfolio {
    padding-top: 50px;
    padding-bottom: 75px;
  }
  .portfolio__project:not(:last-child) {
    margin-bottom: 75px;
  }
  .portfolio__project-img {
    margin-bottom: 30px;
  }
  .skills {
    padding-top: 45px;
    padding-bottom: 100px;
  }
  .skills__title {
    margin-bottom: 40px;
  }
  .skills__info {
    margin-bottom: 75px;
  }
  .skills-programs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 85px;
  }
  .footer {
    padding-top: 55px;
    padding-bottom: 40px;
  }
  .footer__title {
    margin-bottom: 40px;
  }
  .footer__question {
    margin-bottom: 45px;
  }
  .footer__action {
    margin-bottom: 45px;
  }
  .footer__action-btn {
    width: 100%;
  }
  .footer__socials {
    gap: 50px;
  }
}
@media (max-width: 380px) {
  .footer__socials-img {
    width: 35px;
  }
}