.header {
  position: relative;

  @include min {
    padding-top: 32px;
  }
  @include max {
    padding-top: 65px;
  }
  &-meet {
    @include min {
      margin-top: 65px;
      padding-bottom: 100px;
    }
    @include max {
      padding-bottom: 80px;
    }
    &__content {
      display: flex;
      justify-content: space-between;

      margin-bottom: 40px;

      @include min {
        align-items: flex-end;
      }
      @include max {
        align-items: flex-start;
        flex-direction: column;

        transform: translateY(-13px);

        gap: 25px;
      }
    }
    &__name {
      margin: 0;

      font-family: $font-bold;
      font-size: 47.3392px;
      line-height: 59px;
    }
    &__info {
      margin: 10px;

      transform: translateX(-5px);

      line-height: 22px;
    }
    &__language {
      @include min {
        margin-bottom: 35px;

        transform: rotate(-90deg) translateY(22px);
        letter-spacing: -1px;

        font-family: $font-bold;
        line-height: 20px;
      }
      @include max {
        display: none;
      }
    }
  }
  &__img {
    @include max {
      display: none;
    }
    &--fullsize {
      @include min {
        display: none;
      }
    }
  }
}
