.header-navbar {
  position: relative;
  &::after {
    @include min {
      position: absolute;
      top: 57px;

      width: 100%;

      content: "";

      border-bottom: 1px solid $color-gray;
    }
    @include max {
      display: none;
    }
  }
  &__hamburger {
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;

    width: 33px;
    height: 20px;

    cursor: pointer;
    transition: 1s ease-in-out;
    transform: rotate(0deg);

    @include min {
      display: none;
    }
    span {
      position: absolute;
      left: 0;

      display: block;

      width: 100%;
      height: 4px;

      transition: 0.5s ease-in-out;
      transform: rotate(0deg);

      opacity: 1;
      background-color: $color-black;
      &:nth-of-type(1) {
        top: 0;
      }
      &:nth-of-type(2) {
        top: 8px;
      }
      &:nth-of-type(3) {
        top: 16px;
      }
    }
    &.active {
      z-index: 5;
      span {
        background-color: $color-gray;
        &:nth-of-type(1) {
          top: 12px;

          transform: rotate(135deg);
        }
        &:nth-of-type(2) {
          left: -40px;

          opacity: 0;
        }
        &:nth-of-type(3) {
          top: 12px;

          transform: rotate(-135deg);
        }
      }
    }
  }
  &__list {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    transition: transform 0.5s;

    @include min {
      align-items: center;
      justify-content: space-between;
    }
    @include max {
      position: absolute;
      z-index: 3;

      flex-direction: column;

      width: 101%;
      min-height: 100vh;

      transform: translateX(111%);

      background-color: $color-white;

      font-size: $font-title;

      gap: 65px;
    }
    &.active {
      transform: translateX(0%);
    }
  }
  &__item {
    &:nth-of-type(1) {
      .header-navbar__link {
        color: $color-black;
        &::after {
          position: absolute;
          left: 50%;

          width: 0;

          content: "";
          transition: width 0.5s;
          transform: translateX(-50%);

          @include min {
            bottom: -5px;

            border-bottom: 2.5px solid $color-black;
          }
          @include max {
            bottom: -8px;

            border-bottom: 6px solid $color-black;
            border-radius: 3px;
          }
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  &__link {
    position: relative;

    color: $color-gray;

    font-family: $font-bold;
    &::after {
      position: absolute;
      left: 50%;

      width: 0;

      content: "";
      transition: width 0.5s;
      transform: translateX(-50%);

      @include min {
        bottom: -5px;

        border-bottom: 2.5px solid $color-gray;
      }
      @include max {
        bottom: -8px;

        border-bottom: 6px solid $color-gray;
        border-radius: 3px;
      }
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}
